{% extends "base.html" %}
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload New Image - Fast & Secure</title>
    <meta name="description" content="Easily upload your images with our simple and secure image uploader. Select your file, add a title and description, and click upload.">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="congratulation-wrapper text-center mt-5">
    <div class="congratulation-contents center-text">
        <div class="congratulation-contents-icon">
            <dotlottie-player src="https://lottie.host/02fdae7f-2829-4f5a-96cd-dc0f05281798/CSINa32CWb.lottie" background="transparent" speed="1" style="width: 300px; height: 300px" loop autoplay></dotlottie-player>
        </div>
        <h4 class="congratulation-contents-title"> thank you! </h4>
        <p class="congratulation-contents-para"> Your photo has been successfully uploaded. </p>
        <div class="test">
            <a href="{% url 'image_list' %}" class="button1 button--nina button--text-thick button--text-upper button--size-s" data-text="Go To Home">
                <span>G</span><span>o</span> <span>T</span><span>o</span> <span>H</span><span>o</span><span>m</span><span>e</span>
            </a>
        </div>
    </div>
</div>

</body>
<script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>

{% endblock %}