{% extends "base.html" %}
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="container">
    <img src="{{ image.image.url }}" class="card-img-top" alt="{{ image.title }}">
    <div class="card-body">
        <h5 class="card-title">{{ image.title }}</h5>
        <p class="card-text">{{ image.description }}</p>

        {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="like" style="background: white; border: 0;">
                <img src="{% static 'like-icon-2048x1676-wjkvm94s.png' %}" width="30" >
            </button>
            <span>{{ image.likes.count }} likes</span>
        </form>
        {% else %}
            <span>{{ image.likes.count }} likes</span>
            <p>Please <a href="{% url 'login' %}">login</a> to add a comment.</p>
        {% endif %}

        <hr>
        <h5>Comments</h5>
        {% for comment in image.comments.all %}
            <div class="media mb-3">
                <div class="media-body">
                    <h6 class="mt-0">{{ comment.user.username }}</h6>
                    <p>{{ comment.text }}</p>
                </div>
            </div>
        {% endfor %}

        {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit" name="comment">Add Comment</button>
        </form>
        {% else %}
            <p>Please <a href="{% url 'login' %}">login</a> to add a comment.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
