<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest Clone</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
         <span class="navbar-nav">
             <a class="nav-link nav-item" href="{% url 'image_list' %}">Home</a></li>
         </span>

            <span class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <span class="nav-item nav-item">
                        <form id="logout-form" action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button class="btn" type="submit">Logout</button>
                        </form>
                    </span>
                    <a class="nav-link nav-item" href="{% url 'profile' %}">Profile</a>
                {% else %}
                    <a class="nav-link nav-item" href="{% url 'login' %}">Login</a>
                    <a class="nav-link nav-item" href="{% url 'signup' %}">Sign Up</a>
                {% endif %}
            </span>
    </nav>

    <div class="container mt-4">
        {% block content %}
        {% endblock content %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

