{% extends "base.html" %}

{% block content %}
<h2>Images in {{ category.name }}</h2>

<div class="row">
    {% for image in category.images.all %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ image.image.url }}" class="card-img-top" alt="{{ image.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ image.title }}</h5>
                    <p class="card-text">{{ image.description }}</p>
                    <a href="{% url 'image_detail' image.id %}" class="btn btn-primary">View Image</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
