{% extends "base.html" %}
{% block content %}
{% load static %}

<body>
    <div class="body-w">
        {% for image in images %}
        <a href="{% url 'image_detail' image.id %}" class="c-a">
            <div class="image-container">
                <img src="{{ image.image.url }}" class="image" alt="{{ image.title }}">
                <div class="overlay">
                    {% if image.user.profile.profile_picture %}
                        <img src="{{ image.user.profile.profile_picture.url  }}" class="profile-pic" alt="{{ image.user.username }}">
                    {% else %}
                        <img src="{% static 'defaultprofile.png' %}" class="profile-pic" alt="Default Profile">
                    {% endif %}
                    <span class="uploader-name">{{ image.user.username }}</span>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="upload-btn">
        <a href="{% url 'image_upload' %}" class="" >
            <dotlottie-player src="https://lottie.host/d5677d7d-cee3-44ad-99d5-ef8cc1759942/OJUGzHovhx.lottie" background="transparent" speed="0.5" style="width: 100px; height: 100px " loop autoplay></dotlottie-player>
        </a>
    </div>
</body>

<script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>

{% endblock %}
