{% extends "base.html" %}
{% load static %}
{% block content %}
<style>

.profile-container {
        position: relative;
        display: inline-block;
        padding: 10px;
    }
    .profile-picture {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
    }

    .delete-button {
        position: absolute;
        bottom: 5px;
        right: 5px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .test{
    display: flex;
    justify-content: center;
}
</style>

<div class="container">
    <!-- User Profile Picture -->
    <div class="text-center mb-4">
        <form method="POST" enctype="multipart/form-data" id="profile-picture-form">
            {% csrf_token %}
            <div class="profile-container">
                <!-- نمایش عکس پروفایل یا عکس دیفالت -->
            {% if user.profile.profile_picture %}
                <img src="{{ user.profile.profile_picture.url }}" class="img-fluid rounded-circle" style="width:150px">
                <!-- دکمه حذف عکس (آیکون سطل زباله) -->
                <button type="submit" name="delete_picture" class="btn btn-link p-0 border-0">
                    <img src="{% static '3807871.png' %}" class="delete-button" style="width:30px">
                </button>
            {% else %}
                <img src="{% static 'defaultprofile.png' %}" class="img-fluid rounded-circle" style="width:150px">
            {% endif %}
            </div>

            <div style="padding: 50px">
                    <!-- دکمه آپلود عکس جدید -->
                <input type="file" name="profile_picture" id="id_profile_picture" class="d-none" accept="image/*">
                <button type="button" class="btn btn-success" id="upload-button">Update Profile Picture</button>
            </div>

        </form>
    </div>

    <h2 class="my-4">{{ user.username }}'s Profile</h2>
    <p>Email: {{ user.email }}</p>

<!--    &lt;!&ndash; Profile Picture Update Form &ndash;&gt;-->
<!--    <div class="text-center mt-4">-->
<!--        <form method="POST" enctype="multipart/form-data">-->
<!--            {% csrf_token %}-->
<!--            {{ form.as_p }}-->
<!--            <button type="submit" class="btn btn-success">Update Profile Picture</button>-->
<!--        </form>-->
<!--    </div>-->


    <div class="test row">
        {% for image in user.images.all %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ image.image.url }}" class="card-img-top" alt="{{ image.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ image.title }}</h5>
                        <p class="card-text">{{ image.description }}</p>
                        <a href="{% url 'image_detail' image.id %}" class="btn btn-primary"style="color: #fff; background-color: #588499; border-color: #588499;">View Image</a>
                    </div>
                </div>
            </div>

        {% empty %}
        <div class="">
            <dotlottie-player src="https://lottie.host/ad592483-03e3-412e-9b41-bfc06ab0983a/CONdhL9RpF.lottie" background="transparent" speed="1" style="width: 300px; height: 300px" class="test" loop autoplay></dotlottie-player>
            <p class="test">No images uploaded yet.</p>
            <a href="{% url 'image_upload' %}" class="btn btn-primary" style="text-align: center;display: flex; justify-content: center; color: #fff; background-color: #588499; border-color: #588499; padding: 10px; margin: 20px; ">Upload new image</a>
        </div>
        {% endfor %}
    </div>
</div>


<!-- جاوااسکریپت برای باز کردن انتخاب فایل و ارسال خودکار -->
<script>
    document.getElementById("upload-button").addEventListener("click", function() {
        document.getElementById("id_profile_picture").click();
    });

    document.getElementById("id_profile_picture").addEventListener("change", function() {
        document.getElementById("profile-picture-form").submit();
    });
</script>

<script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>

{% endblock %}
